---
import Layout from '../../layouts/Layout.astro';
import { BLOG_POSTS } from '../../data/blogposts';
import BlogPostLayout from '../../components/Blog/BlogPostLayout/BlogPostLayout';

export function getStaticPaths() {
  const PATHS = BLOG_POSTS.map((post, index) => {
    return { params: { post_id: index } };
  });
  return PATHS;
}
const params = Astro.params;
console.log(Astro);
---

<Layout title={`Post ${params.post_id} Title`}>
  <main>
    <BlogPostLayout postID={parseInt(params.post_id!)} />
  </main>
</Layout>
