---
import type { GetStaticPaths } from 'astro';
import Layout from '../../layouts/Layout.astro';
import BlogPostLayout from '../../components/Blog/BlogPostLayout/BlogPostLayout';

const params = Astro.params;

export function getStaticPaths() {
  return [];
}

const POST_ENTRY = undefined;
const POST_TITLE = 'VIEW';
---

<Layout title={POST_TITLE}>
  <main>
    <BlogPostLayout post={POST_ENTRY} />
  </main>
</Layout>
