---
import BlogSearchPanel from '../../components/Blog/BlogSearchPanel/BlogSearchPanel';
import Layout from '../../layouts/Layout.astro';
---

<Layout title={'Lahiru A. Rajakaruna|Blog'}>
  <main>
    <BlogSearchPanel client:only={true} />
  </main>
</Layout>
