---
import HeroSection from '../components/HeroSection/HeroSection';
import AboutSection from '../components/AboutSection/AboutSection';
import RecentProjecsSection from '../components/RecentProjectsSection/RecentProjectsSection';
import SkillsSection from '../components/SkillsSection/SkillsSection';
import EducationSection from '../components/EducationSection/EducationSection';
import ContactMeSection from '../components/ContactMeSection/ContactMeSection';
import RecentBlogPostsSection from '../components/RecentBlogPostsSection/RecentBlogPostsSection';
import Layout from '../layouts/Layout.astro';
---

<Layout title='LahiruA.Rajakaruna|WebDeveloper'>
	<main>
		<HeroSection />
		<AboutSection />
		<RecentProjecsSection />
		<SkillsSection />
		<EducationSection />
		<ContactMeSection />
		<RecentBlogPostsSection />
	</main>
</Layout>
