---
import HeroSection from '../components/Home/HeroSection/HeroSection';
import AboutSection from '../components/Home/AboutSection/AboutSection';
import RecentProjecsSection from '../components/Home/RecentProjectsSection/RecentProjectsSection';
import SkillsSection from '../components/Home/SkillsSection/SkillsSection';
import EducationSection from '../components/Home/EducationSection/EducationSection';
import ContactMeSection from '../components/Home/ContactMeSection/ContactMeSection';
import RecentBlogPostsSection from '../components/Home/RecentBlogPostsSection/RecentBlogPostsSection';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Lahiru A. Rajakaruna|Web Developer'>
  <main>
    <HeroSection />
    <AboutSection />
    <RecentProjecsSection />
    <SkillsSection />
    <EducationSection client:only={true} />
    <ContactMeSection client:visible={true} />
    <RecentBlogPostsSection />
  </main>
</Layout>../components/Home/RecentBlogPostsSection/RecentBlogPostsSection
